<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Admin Panel</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.png">
    <!-- Pignose Calender -->
    <link href="~/adminTheme/plugins/pg-calendar/css/pignose.calendar.min.css" rel="stylesheet">
    <!-- Chartist -->
    <link rel="stylesheet" href="~/adminTheme/plugins/chartist/css/chartist.min.css">
    <link rel="stylesheet" href="~/adminTheme/plugins/chartist-plugin-tooltips/css/chartist-plugin-tooltip.css">
    <!-- Custom Stylesheet -->
    <link href="~/adminTheme/css/style.css" rel="stylesheet">
</head>

<body>

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->
    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
            <div class="brand-logo">
                <a>
                    <b class="logo-abbr"><img src="~/adminTheme/images/logo.png" alt=""> </b>
                    <span class="logo-compact"><img src="./images/logo-compact.png" alt=""></span>
                    <span class="brand-title">
                        <img src="~/adminTheme/images/logo-text.png" alt="">
                    </span>
                </a>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->
        <!--**********************************
            Header start
        ***********************************-->
        <div class="header">
            <div class="header-content clearfix">

                <div class="nav-control">
                    <div class="hamburger">
                        <span class="toggle-icon"><i class="icon-menu"></i></span>
                    </div>
                </div>
            </div>
        </div>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->
        <!--**********************************
            Sidebar start
        ***********************************-->
        <div class="nk-sidebar">
            <div class="nk-nav-scroll">
                <ul class="metismenu" id="menu">
                    <li class="nav-label">Admin Panel</li>
                    <li>
                        <a asp-area="Admin" asp-controller="Home" asp-action="Index" aria-expanded="false">
                            <i class="icon-menu menu-icon"></i><span class="nav-text">Ana Sayfa</span>
                        </a>
                    </li>
                    <li>
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon-speedometer menu-icon"></i><span class="nav-text">Kategoriler</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a asp-area="Admin" asp-controller="Category" asp-action="Add" style="font-weight:bold;"><img src="~/icons/ekle.svg" />&nbsp&nbsp;Yeni Kategori Ekle</a></li>
                            @await Component.InvokeAsync("SidebarCategory")
                        </ul>
                    </li>
                    <li class="mega-menu mega-menu-sm">
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon-globe-alt menu-icon"></i><span class="nav-text">Alt Kategoriler</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a asp-area="Admin" asp-controller="SubCategory" asp-action="AddCategory" style="font-weight:bold;"><img src="~/icons/ekle.svg" />&nbsp&nbsp;Yeni Alt Kategori Ekle</a></li>
                            @await Component.InvokeAsync("SubCategory")
                        </ul>
                    </li>
                    <li class="mega-menu mega-menu-sm">
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon-grid menu-icon"></i> <span class="nav-text">Ürünler</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a asp-area="Admin" asp-controller="Product" asp-action="Add" style="font-weight:bold;"><img src="~/icons/ekle.svg" />&nbsp&nbsp;Yeni Ürün Ekle</a></li>
                            @await Component.InvokeAsync("Product");
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon-notebook menu-icon"></i><span class="nav-text">Siparişler</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a asp-area="Admin" asp-controller="Order" asp-action="Index" style="font-weight:bold;">Hepsi</a></li>
                            @await Component.InvokeAsync("Order");
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <!--**********************************
            Sidebar end
        ***********************************-->
        <!--**********************************
            Content body start
        ***********************************-->
        <br /><br />
        <div class="content-body">

            @RenderBody()
            <!-- #/ container -->
        </div>
        <!--**********************************
            Content body end
        ***********************************-->
        <!--**********************************
            Footer start
        ***********************************-->
        <div class="footer">
            <div class="copyright">
                <p>Sizlere Daha İyi Hizmet Verebilmek İçin Burdayız - Jet Pizza Muhammed Hasan Küçük By Developer 2023</p>
            </div>
        </div>
        <!--**********************************
            Footer end
        ***********************************-->
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->
    <!--**********************************
        Scripts
    ***********************************-->
    <script src="~/adminTheme/plugins/common/common.min.js"></script>
    <script src="~/adminTheme/js/custom.min.js"></script>
    <script src="~/adminTheme/js/settings.js"></script>
    <script src="~/adminTheme/js/gleek.js"></script>
    <script src="~/adminTheme/js/styleSwitcher.js"></script>

    <!-- Chartjs -->
    <script src="~/adminTheme/plugins/chart.js/Chart.bundle.min.js"></script>
    <!-- Circle progress -->
    <script src="~/adminTheme/plugins/circle-progress/circle-progress.min.js"></script>
    <!-- Datamap -->
    <script src="~/adminTheme/plugins/d3v3/index.js"></script>
    <script src="~/adminTheme/plugins/topojson/topojson.min.js"></script>
    <script src="~/adminTheme/plugins/datamaps/datamaps.world.min.js"></script>
    <!-- Morrisjs -->
    <script src="~/adminTheme/plugins/raphael/raphael.min.js"></script>
    <script src="~/adminTheme/plugins/morris/morris.min.js"></script>
    <!-- Pignose Calender -->
    <script src="~/adminTheme/plugins/moment/moment.min.js"></script>
    <script src="~/adminTheme/plugins/pg-calendar/js/pignose.calendar.min.js"></script>
    <!-- ChartistJS -->
    <script src="~/adminTheme/plugins/chartist/js/chartist.min.js"></script>
    <script src="~/adminTheme/plugins/chartist-plugin-tooltips/js/chartist-plugin-tooltip.min.js"></script>



    <script src="~/adminTheme/js/dashboard/dashboard-1.js"></script>

</body>

</html>