@model PizzaProject.Model.Tables.Product
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Ürün Detayı</h1>

<br />

<form asp-controller="Basket" asp-action="AddToBasket" method="post">
    <input type="hidden" name="ID" value="@Model.ID" />
    <input type="text" name="ProductName" value="@Model.ProductName" readonly /><br /><br />
    <input type="text" name="ProductPrice" value="@Model.ProductPrice" readonly /><br /><br />
    <input type="submit" value="Sepete Ekle" class="btn btn-primary" />
</form>


