@model PizzaProject.Model.Tables.Category
@{
    ViewData["Title"] = "Update";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Kategori Güncelle</h1>

<form asp-area="Admin" asp-controller="Category" asp-action="Update" method="post">
    <input type="hidden" name="ID" value="@Model.ID" />
    <input type="text" name="CategoryName" value="@Model.CategoryName" placeholder="Kategori Adını Giriniz" /><br />
    <br />
    <input type="submit" value="Kaydet" />

</form>